<header class="mb-5">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Facturación Cafe Britt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="alert alert-success pt-5 text-center" role="alert" *ngIf="respuesta != ''">
      <h4>{{ respuesta }}</h4>
    </div>
    <h1 class="pt-5 text-center">Sistema de Facturación</h1>
    <div class="row justify-content-center">
      <div class="col-8">
        <h3>FACTURA: {{ datafactura }}</h3>
        <h3>FECHA: {{ dataFecha }}</h3>
        <h3>TOTAL: {{ dataTotal }}</h3>
        <div class="text-end mb-4">
          <button class="btn btn-success mx-3" type="button" data-bs-toggle="modal" data-bs-target="#modalFactura">
            Nueva Factura <i class="bi bi-receipt-cutoff"></i>
          </button>
          <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalProducto">
            Nueva linea <i class="bi bi-bag-check-fill"></i>
          </button>
        </div>
        <table class="table table-striped">
          <tr>
            <th>SKU</th>
            <th>PRODUCTO</th>
            <th>QTY</th>
            <th>PRECIO</th>
            <th>TOTAL</th>
            <th>BORRAR</th>
          </tr>
          <tr *ngFor="let f of factura.DETALLES; let i = index">
            <td>{{ f.CODIGO_ARTICULO }}</td>
            <td>{{ f.DESCRIPCION }}</td>
            <td>{{ f.CANTIDAD }}</td>
            <td>${{ f.PRECIO }}</td>
            <td>{{ f.TOTAL_LINEA }}</td>
            <td>
              <button class="btn btn-outline-danger" type="button" (click)="delDetalle(i)">
                Borrar <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Creado por Daniel Alvarez.</span>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="modalFactura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="formFactura">Nueva factura</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="facturaForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Número:</label>
            <input type="number" class="form-control" name="numero_factura" formControlName="numero_factura" placeholder="Número de factura">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Fecha:</label>
            <input type="date" class="form-control" formControlName="fecha">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="crearFactura()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="formProducto">Nuevo Producto</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="facturaForm" (ngSubmit)="agregarDetalle()">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Producto:</label>
            <select name="" id="" class="form-control" formControlName="producto">
              <option value="" disabled selected>Selecciona:</option>
              <option *ngFor="let p of productos" value="{{ p.CODIGO_ARTICULO }}">
                {{ p.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Cantidad:</label>
            <input type="number" class="form-control" name="cantidad" formControlName="cantidad" placeholder="Cantidad de productos">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarDetalle()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
